name: Frontend CI

on:
  push:
    branches: [ master ]
    paths:
      - 'web/**'
  pull_request:
    branches: [ master ]
    paths:
      - 'web/**'

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./web

    steps:
    - uses: actions/checkout@v6

    - name: Use Node.js
      uses: actions/setup-node@v6
      with:
        node-version: 'latest'  # 使用最新版本的 Node.js

    - name: Install dependencies
      run: npm ci --force --no-audit --no-fund

    - name: Run type check
      run: npm run type-check

    # 单元测试
    - name: Run unit tests
      run: npm run test:unit

    - name: Run coverage tests
      run: npm run test:coverage

    # 测试覆盖率
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        flags: unittests

    # 暂时没有 linter
    - name: Run linter
      run: npm run lint

    - name: Build project
      run: npm run build-only  # 尝试编译项目